:root {
  --primary-color: #000080;
  --secondary-color: #2a307f;
  --tertiary-color: #1c274c;
  --quaternary-color: #363755;
  --white-color: #ffffff;
  --gray-color: #f1f1f1;
  --smoke-color: #f5f5f5;
  --creamson-color: #fff0de;
  --dim-color: #f9f9f9;
  --dim-red-color: #8b0000;
  --dim-white-color: #ffffffb3;
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;
  --success-color: #adff2f;
}

html {
  width: 100%;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.success-message {
  color: var(--success-color);
}

.success-message-bg {
  background-color: var(--success-color);
}

.inbox label {
  color: var(--white-color);
}

.inbox img {
  height: 17px;
  width: 17px;
}

.prefs {
  font-weight: bold;
}

.titlew {
  color: var(--white-color);
  font-weight: bold;
}

.menuOpts {
  color: var(--tertiary-color);
}

.menuOpts input {
  overflow: visible;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

label {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.currentInbox {
  color: white;
  font-weight: bold;
}

.currentInbox a:link {
  color: white;
  text-decoration: none;
}
.currentInbox a:visited {
  color: white;
  text-decoration: none;
}
.currentInbox a:focus {
  color: white;
  text-decoration: underline;
}
.currentInbox a:hover {
  color: white;
  text-decoration: underline;
}
.currentInbox a:active {
  color: white;
  text-decoration: underline;
}

.rss:link {
  background: url(./img/rss.png) bottom center no-repeat;
  text-indent: -999em;
  text-decoration: none;
}

.rss:hover {
  background: url(./img/rss.png) bottom center no-repeat;
  text-indent: -999em;
  text-decoration: none;
}

.rss:visited {
  background: url(./img/rss.png) bottom center no-repeat;
  text-indent: -999em;
  text-decoration: none;
}

.rssText {
  visibility: hidden;
}

.currentQuota {
  color: var(--white-color);
  font-weight: bold;
}

.maxQuota {
  color: var(--white-color);
  font-weight: bold;
}

img {
  border: 0px;
}

body {
  min-width: 40em;
  color: var(--tertiary-color);
  background-color: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

form {
  margin: 0;
}

textarea {
  font-family: monospace;
}

a:link {
  color: #003298;
  text-decoration: none;
}

a:visited {
  color: #003298;
  text-decoration: none;
}

a:hover {
  color: #003298;
  text-decoration: underline;
}

table {
  border: 0px;
  border-spacing: 0px;
}

#popup {
  min-width: 0;
  color: var(--tertiary-color);
  background: var(--white-color) url(./img/postagestamp02.png) top right no-repeat;
}

#header h1 {
  float: left;
  margin: -7px 0 0 -12px;
  padding: 0;
  width: 250px;
  height: 64px;
  background: url(./img/logo.png) no-repeat;
  text-indent: -999em;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
}

#header h2 {
  float: left;
  margin: 9px 0 0 0;
  margin-left: 10px;
  padding: 5px;
}

#header ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

#header li {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  display: inline;
  list-style: none;
}

#main {
  clear: left;
}

#footer {
  padding-top: 10px;
  text-align: end;
}

#footerLogo {
  width: 88px;
  height: 31px;
  border: 0;
}

/**
 * main menu
 */
.mainmenu {
  color: white;
  background-color: var(--tertiary-color);
}

.mainmenu ul {
  margin: 0;
  padding: 1px 0;
  list-style-type: none;
}

.mainmenu ul li {
  display: inline;
}

.mainmenu ul li a,
.mainmenu ul li span {
  padding: 0 2em;
}

.mainmenu ul li.selected a,
.mainmenu ul li.selected span {
  font-weight: bold;
  color: var(--dim-white-color);
  text-decoration: underline;
}

.mainmenu a:link {
  color: white;
  text-decoration: none;
}
.mainmenu a:visited {
  color: white;
  text-decoration: none;
}
.mainmenu a:focus {
  color: white;
  text-decoration: underline;
}
.mainmenu a:hover {
  color: white;
  text-decoration: underline;
}
.mainmenu a:active {
  color: white;
  text-decoration: underline;
}

/**
 * sub menu
 */
.submenu {
  background-color: var(--primary-color);
}

.submenu ul {
  margin: 0;
  padding: 1px 0;
  list-style-type: none;
}

.submenu ul li {
  display: inline;
}

.submenu ul li a,
.submenu ul li span {
  padding: 0 2em;
}

.submenu ul li.selected a,
.submenu ul li.selected span {
  font-weight: bold;
  color: var(--dim-white-color);
  text-decoration: underline;
}

.submenu a:link {
  color: white;
  text-decoration: none;
}
.submenu a:visited {
  color: white;
  text-decoration: none;
}
.submenu a:focus {
  color: white;
  text-decoration: underline;
}
.submenu a:hover {
  color: white;
  text-decoration: underline;
}
.submenu a:active {
  color: white;
  text-decoration: underline;
}

/**
 * page navigation
 */
.pagenav {
  text-align: right;
  color: white;
  background-color: var(--primary-color);
}

.pagenav ul {
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
}

.pagenav ul li {
  display: inline;
}

.pagenav ul li.pagexofy {
  margin-right: 1em;
}

.pagenav ul li a,
.pagenav ul li span {
  margin: 0;
  padding: 0 3px;
}

.pagenav ul li.prev span,
.pagenav ul li.next span {
  color: #cccccc;
}

.pagenav ul li.current span {
  font-weight: bold;
  font-size: larger;
  color: #ffc061;
}

.pagenav a:link {
  color: white;
  text-decoration: none;
}
.pagenav a:visited {
  color: white;
  text-decoration: none;
}
.pagenav a:focus {
  color: #ffdead;
  text-decoration: underline;
}
.pagenav a:hover {
  color: #ffdead;
  text-decoration: underline;
}
.pagenav a:active {
  color: #ffdead;
  text-decoration: underline;
}

div.messageSummary {
  background-color: var(--primary-color);
}

div.topNavigation {
  background-color: var(--primary-color);
}

div.topNavigation table {
  width: 100%;
}

div.topNavigation img {
  width: 12px;
  height: 12px;
}

div.messageList {
  padding: 0.5em;
  background: var(--dim-white-color) url(./img/postagestamp02.png) top right no-repeat;
}

div.messageList table {
  width: 100%;
}

div.bottomNavigation {
  background-color: var(--primary-color);
}

div.bottomNavigation table {
  width: 100%;
}

div.bottomNavigation img {
  width: 12px;
  height: 12px;
}

img.sort {
  border: 0px;
  width: 12px;
  height: 12px;
}

.error {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.errorTable {
  border: 1px solid #dd2222;
  background-color: #dd2222;
  width: 400px;
}

.errorTitle {
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
  background: url(./img/error.png) top left no-repeat;
}

.errorText {
  background-color: var(--white-color);
  text-align: center;
  padding: 2px;
}

#loginBox {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: larger;
  background: var(--white-color) url(./img/postagestamp02.png) top right no-repeat;
  border: 1px solid var(--gray-100);
}

#loginBox h2 {
  margin: 0;
  padding: 0.5em;
}

#loginBox table {
  margin: auto;
  padding: 0.5em;
}

#loginBox th {
  text-align: right;
  font-weight: normal;
}

#loginBox tr td.remember input[type="checkbox"] {
  margin: 4px 0 0 0;
}

#loginBox tr td.remember label {
  line-height: 14px;
}

#loginBox tr td.remember label span {
  font-size: 11.5px;
}

#loginBox td {
  padding-left: 0.5em;
  text-align: left;
}

#loginBox p {
  margin: 0 0 0 40px;
  padding: 0.5em;
}

#inboxTable {
  margin: 0.5em 0;
  border-collapse: collapse;
}

#inboxTable th {
  text-align: left;
  background-color: #d6d6d6;
}

#inboxTable .unread {
  font-weight: bold;
}

#inboxTable .flagged {
  color: #b91c1c;
  font-weight: bold;
  text-decoration: line-through;
}

#inboxTable .odd {
  background-color: var(--smoke-color);
}

#inboxTable .even {
  background-color: #ebebeb;
}

#inboxTable .spamOdd {
  font-style: italic;
  background-color: #ffcccc;
}

#inboxTable .spamEven {
  font-style: italic;
  background-color: #ffaaaa;
}

#inboxTable th.sorted {
  background-color: #feec85;
}

#inboxTable .column0 {
  text-align: center;
}

#inboxTable .column5 {
  text-align: right;
}

#inboxTable .column9 {
  text-align: center;
}

#inboxTable tr.marked {
  background-color: #ffdead;
}

#inboxTable tr.odd:hover,
#inboxTable tr.even:hover,
#inboxTable tr.hover {
  cursor: pointer;
  background-color: #ffc061;
}

#inboxStatus {
  text-align: center;
  background-color: var(--success-color);
  font-weight: 600;
}

.send {
  border: 0px;
  text-align: center;
  width: 100%;
  padding: 0px;
  background: var(--white-color) url(./img/postagestamp02.png) top right no-repeat;
}

.send form {
  margin: -11px 0 0 0;
}

.send table {
  width: 100%;
  padding: 0px;
  border: 0px;
}

.sendButtons {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  text-align: justify;
}

.prefsSubmitButtonsRight {
  margin: 0 10px 0 0;
  padding: 0.5em 0 0.5em 0;
  text-align: end;
}

.prefsSubmitButtonsLeft {
  margin: 0 0 0 10px;
  padding: 0.5em 0 0.5em 0;
  text-align: start;
}

.sendLabel {
  width: 15%;
  text-align: right;
}

.sendData {
  text-align: left;
}

#attachTable {
  max-width: 456px;
  border: 1px solid var(--gray-color);
  border-collapse: collapse;
}

#attachTable th {
  text-align: left;
  background-color: var(--gray-color);
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

#attachTable td {
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

#receipt {
  margin-left: 8.5em;
}

/*
 * mail data (verbose header, body and attachments)
 */
.mailData {
  background-color: var(--white-color);
}

.mail {
  margin: 0;
  padding: 0.5em;
}

hr.mailAttachSep {
  margin: 0;
  padding: 0;
}

.mailTextAttach {
  margin: 0;
  padding: 0.5em;
}

.mailImgAttach {
  text-align: center;
}

.mailImgAttach img {
  margin: 0;
  padding: 0.5em;
  background: url(./img/img-loader.gif) no-repeat 50% 50%;
}

.mail,
.mailTextAttach {
  font-family: monospace;
}

.mailNav {
  border: 0px;
  text-align: start;
  padding: 0px;
  width: 100%;
  background-color: var(--smoke-color);
}

.mailNav table.menu {
  width: 100%;
  border: 0px;
  padding: 2px;
}

.mailNav table.head {
  border: 0px;
  padding: 2px;
}

.mailSwitchHeaders {
  text-align: left;
  background-color: var(--smoke-color);
}

.mailHeaderLabel {
  font-weight: bold;
  text-align: left;
  background-color: var(--smoke-color);
}

.mailHeaderData {
  font-weight: bold;
  background-color: var(--smoke-color);
  text-align: left;
  padding-left: 62px;
}

.mailVerboseHeader {
  position: relative;
  margin: 0;
  padding: 2px;
  background-color: var(--smoke-color);
  text-align: left;

  /* http://sw-guide.de/2006-10/code-bloecke-pre-elemente-auf-webseiten/ */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.attachments {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.attachments li {
  margin-right: 5px;
}

.attachments em {
  font-weight: normal;
  font-size: smaller;
}

.contactAdd table {
  width: 100%;
  text-align: center;
  color: var(--tertiary-color);
  background-color: var(--smoke-color);
  border-collapse: collapse;
}

.contactAdd table td {
  padding: 3px;
}

.contactsTitle {
  font-weight: bold;
  font-size: larger;
  color: var(--tertiary-color);
  background-color: #d6d6d6;
}

.contactsSubTitle {
  font-weight: bold;
  font-size: larger;
}

.contactsAddLabel {
  text-align: right;
}

.contactsAddData {
  text-align: left;
}

.contactsList table {
  width: 100%;
  border-collapse: collapse;
}

.contactsList table th,
.contactsList table td {
  padding: 3px;
}

.contactsListHeader {
  text-align: left;
  color: var(--tertiary-color);
  background-color: #d6d6d6;
}

.contactsListOdd {
  color: var(--tertiary-color);
  background-color: var(--smoke-color);
}

.contactsListEven {
  color: var(--tertiary-color);
  background-color: #ebebeb;
}

.contactsAddLink {
  text-align: left;
  font-weight: bold;
}

.contactsListRuler td {
  text-align: center;
  background-color: var(--tertiary-color);
}

.contactsListRulerHigh a {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 1.4em;
}

.prefs {
  border: 0px;
  text-align: center;
  padding: 0px;
  width: 100%;
  background: var(--white-color) url(./img/postagestamp02.png) top right no-repeat;
}

.prefs h3 {
  margin-top: 0;
  padding-top: 1em;
}

.prefs table {
  width: 100%;
}

.prefs fieldset {
  border: 0;
  border-top: 1px solid silver;
}

.prefs fieldset legend {
  margin-left: 0; /* Menghapus margin kiri */
  text-align: left; /* Mengatur teks agar rata kiri */
  font-weight: bold;
  font-size: larger;
}

.prefsLabel {
  text-align: right;
  width: 20%;
}

.prefsData {
  text-align: left;
}

.prefs form.managefilterLists {
  margin: 6px 0 0 10px;
}

.send fieldset {
  border: 0;
  border-top: 1px solid silver;
}

.send fieldset legend {
  margin-left: 0; /* Menghapus margin kiri */
  text-align: left; /* Mengatur teks agar rata kiri */
  font-weight: bold;
  font-size: larger;
}

.navigation {
  height: 12px;
  width: 12px;
}

.nopic {
  text-align: center;
  color: var(--tertiary-color);
  background-color: #ffff99;
  border: 1px solid #ffff00;
}

.spamWarning {
  text-align: center;
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: #ffcccc;
  border: 1px solid #ffaaaa;
}

/* colored quotes */
.quoteLevel1 {
  color: navy;
}
.quoteLevel2 {
  color: maroon;
}
.quoteLevel3 {
  color: green;
}
.quoteLevel4 {
  color: purple;
}
.quoteLevel5 {
  color: teal;
}

.debug {
  font-family: monospace;
  font-size: smaller;
}

.new-version {
  background-color: red;
}

.new-version-update-ok {
  color: green;
}

.new-version-update-missing {
  color: red;
}
